<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhXRjD0i1vSymUUlB4_aIq7E5AiH9xs2g</string>
	<key>GCM_SENDER_ID</key>
	<string>1028502883068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lootradarkmp.LootRadarKMP</string>
	<key>PROJECT_ID</key>
	<string>lootradar-kmp</string>
	<key>STORAGE_BUCKET</key>
	<string>lootradar-kmp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028502883068:ios:77e9ef0b79f81c33306579</string>
</dict>
</plist>